@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Random Passcode (passcode # @ViewBag.Count)</h1>
    <a href="/Generate" class="btn btn-info btn-outline-warning">Generate</a>
</div>
